<div class="footer footer-default">
  <div class="footer-links">
    <a href="https://github.com/carrrrots/AluGames"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-frase"><p class="text-center text-muted">© 2021 Batch766</p></div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
