    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1606503153255-59d8b8b82176?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
      <div class="container">
        <h1>Rent board games with <strong>AluGames</strong>!</h1>
        <p>Planning to play boardgames with your friends this week? At AluGames you can rent a game very easily.</p>
        <%= simple_form_for :search, url: root_path, method: :get, html: {class: "d-flex justify-content-center"} do |f| %>
    <div class="search-bar-container">
      <div class="search-form-control form-group">  <!--DIMINUIR SEARCH BAR!!!!!!!!-->
        <input class="_input-search form-control form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="_btn-search btn btn-sm btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    </div>
    <% end %>
      </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card-container">
        <div class="card card-home m-4" style="width: 18rem;">
          <img class="card-img-top card-img-home" src="https://cf.geekdo-images.com/u1l0gH7sb_vnvDvoO_QHqA__opengraph/img/6Hm6YzvXL_xnLP2r_fu0wCckHKQ=/fit-in/1200x630/filters:strip_icc()/pic4887376.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Great Western Trail</h5>
            <p class="card-text">Em Great Western Trail, vocês são vaqueiros rivais nos EUA do século 19...</p>
            <a href="#" class="btn btn-primary">See more</a>
          </div>
        </div>
      <div class="card card-home m-4" style="width: 18rem;">
        <img class="card-img-top card-img-home" src="https://cf.geekdo-images.com/tz19PfklMdAdjxV9WArraA__opengraph/img/g1d7Q4rgkWOeGq8eQdmeV1xl7TU=/fit-in/1200x630/filters:strip_icc()/pic3718275.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Azul</h5>
          <p class="card-text">Introduzidos pelos mouros, os azulejos foram completamente aceitos...</p>
          <a href="#" class="btn btn-primary">See more</a>
        </div>
      </div>
      <div class="card card-home m-4" style="width: 18rem;">
        <img class="card-img-top card-img-home" src="https://cf.geekdo-images.com/yLZJCVLlIx4c7eJEWUNJ7w__opengraph/img/d5aVUcak3R6QOHz5y-fvQdc8pwU=/fit-in/1200x630/filters:strip_icc()/pic4458123.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Wingspan</h5>
          <p class="card-text">Vocês são entusiastas de pássaros - pesquisadores, observadores de pássaros...</p>
          <a href="#" class="btn btn-primary">See more</a>
        </div>
      </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="card-container">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top card-img-home" src="https://cf.geekdo-images.com/LIooA9bTdjnE9qmhjL-UFw__opengraph_left/img/KB03wOvKGUH46bJrCIFWtyXCB8E=/fit-in/445x445/filters:strip_icc()/pic3118622.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mansion Of Madness</h5>
            <p class="card-text">Mansions of Madness é um jogo de tabuleiro totalmente cooperativo, de horror e mistério...</p>
            <a href="#" class="btn btn-primary">See more</a>
          </div>
        </div>
        <div class="card card-home m-4" style="width: 18rem;">
          <img class="card-img-top card-img-home" src="https://cf.geekdo-images.com/dmo-WD6HZHVUPrbVHunaTw__opengraph/img/zPPWwWNu6vw6y6CLvvkVOVbgIY0=/fit-in/1200x630/filters:strip_icc()/pic2055255.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Five Tribes</h5>
            <p class="card-text">Cruzando na Terra de 1001 Noites, sua caravana chega ao Sultanato da fábula de Naqala...</p>
            <a href="#" class="btn btn-primary">See more</a>
          </div>
        </div>
        <div class="card card-home m-4" style="width: 18rem;">
          <img class="card-img-top card-img-home" src="https://cf.geekdo-images.com/0K1AOciqlMVUWFPLTJSiww__opengraph/img/yIW1EWLznW0SOA0-NkfIKz4Kj5w=/fit-in/1200x630/filters:strip_icc()/pic66668.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ticket to Ride: Europe</h5>
            <p class="card-text">Ticket to Ride: Europe leva você em uma nova aventura de trem pela Europa...</p>
            <a href="#" class="btn btn-primary">See more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
