.container-new {
  margin: auto;
  display: block;
  width: 70%;
  background-color: #a8dadc46;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.08);
  margin-top: 120px;
  margin-bottom: 25px;
  border-radius: 5%;
}

h1 {
  color: rgb(92, 92, 92);
  text-align: center;
  font-family: $font-header;
}

.form-inputs {
  color: rgb(92, 92, 92);
  font-family: $font-default;
  font-size: 18px;
}

.form-control {
  margin:auto;
  border-radius: 5px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.08);
  width: 80%;
}

.btn-new {
  background-color: #E63946;
  color: white;
  border-radius: 10px;
  font-family: $font-button;
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 10px;
  margin-top: 10px;
}
