// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "searchbar";
@import "_cards";
@import "form";
@import "carousel";
@import "showgames";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Poppins:wght@300;500&family=Roboto:wght@300;400&display=swap');


body {
  background-color: #F1FAEE;
}

.card-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-top: 2px;
}

.banner h1 {
  // margin: 0;
  color: white;
  opacity: .8;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.link-btn {
  text-decoration: none !important;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: $font-default;
    &:hover {
      color: rgb(255, 255, 255);
      text-decoration: none !important;
    }
}

.default-img {
  width: 100%;
  height: 13vw;
  object-fit: cover;
  padding: 0.1rem;
}

.index-navbar {
  margin-top: 7rem;
  background-color: rgba(0, 0, 0, 0);
}

.btn-menu {
  font-family: $font-button;
  font-weight: 500;
}

.btn-show {
  background: #457B9D;
  margin-bottom: -0.2rem;
  &:hover{
    background: #E63946;
  }
}

.dropdown-category {
  color: rgb(80, 80, 80) !important;
  font-weight: 300;
}

.group-active-shadow {
  background-color: #00000000;
  &:hover {
    box-shadow: 0 0 10rem rgba(33, 33, 33, .2);
  }
}

#search-bar {
 border-radius: 0 1rem 1rem 0;
}

#basic-addon1{
  border-radius: 1rem 0 0 1rem;
  background-color: white;
}

#btn-rent {
  background-color: #1D3557;
  color: white;
    &:hover {
      background: #E63946;
    }
}

.form-buggado-demais {
  width: 90%;
}

.hover-me {
  &:hover {
    background: #f3727d;
  }
}

.hover-me2 {
  &:hover {
    background: #293a52f6;
  }
}
