$font-default: 'Roboto Mono', monospace;

.navbar-container {
  display: flex;
}

#name {
  color: white;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #0f1722f6;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  background: #E63946;
  color: white;
  font-family: $font-default;
  font-weight: bold;
  height: 35px;
  border-radius: 20%;
}
