$font-default: 'Roboto Mono',
sans-serif;
$font-button: 'Poppins',
sans-serif;
$font-header: 'Montserrat',
sans-serif;

.navbar-container {
  display: flex;
}

#name {
  color: white;
  margin-top: 0.6rem;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #0f1722f6;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 3rem;
}

.login {
  background: #E63946;
  color: white;
  font-family: $font-default;
}

.nav-link-btn {
color: white !important;
}
