.show-container-box {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.both-content{
  display: flex;
  flex-direction: row;
}

.default-img-show {
  margin-left: 15px;
  width: 40rem;
  height: auto;
}

.card-text-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 90%;
  height: auto;
  padding: 10px;
  box-shadow: 0 0 0.5em black;
  border-radius: 15px;
  font-family: monospace
}
.btn-link-show {
  text-decoration: none !important;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: $font-default;
    &:hover {
      color: rgb(255, 255, 255);
      text-decoration: none !important;
    }
}
.btn-destroy {
  background: #E63946;
  margin-bottom: -0.2rem;
  &:hover{
    background: #A8DADC;
  }
}
.btn-basic {
  background: #457b9d;
  margin-bottom: -0.2rem;
  &:hover{
    background:#A8DADC;
  }
}
.card-title {
  color: #1D3557;
  font-size: 3rem;
  text-shadow: 1px 1px 7px#457b9d;
}
