.show-container-box {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.both-content{
  display: flex;
  flex-direction: row;
}

.default-img-show {
  width: 700px;
  height: 500px;
}

.card-text-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 90%;
  height: 500px;
  padding: 10px;
  box-shadow: 0 0 0.5em black;
  border-radius: 15px;
}
.btn-link-show {
  text-decoration: none !important;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: $font-default;
    &:hover {
      color: rgb(255, 255, 255);
      text-decoration: none !important;
    }
}
.btn-destroy {
  background: #E63946;
  margin-bottom: -0.2rem;
  &:hover{
    background: #A8DADC;
  }
}
.btn-basic {
  background: #A8DADC;
  margin-bottom: -0.2rem;
  &:hover{
    background:#E63946;
  }
}
